body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 20px;
    line-height: 2;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #fff;
}
a{
    text-decoration: none;
}

.nameImage {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: justify;
    gap: 20px;
}

.about {
    max-width: 1200px;
    margin: 20px;
}

.about h1 {
    font-size: 2rem;
}

.about p {
    text-align:left;
    /* line-height: 1.3; */
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    /* border-radius: 10%; */
    background-color: #239b2d;
}

.social-links a:hover {

    background-color: #02750b;
    /* text-decoration: underline; */
}

.update,
.learnings,
.services {
    margin-top: 20px;
}

ul {
    list-style: square;
    padding-left: 20px;
}

.profileImg img {
    /* margin-top: 2rem; */
    max-width: 300px;
    padding: 2rem;
    border-radius: 50%;
    border: 2px solid #00b10f;

}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .nameImage {
        flex-direction: column;
        /* Stack text and image vertically */
        text-align: center;
        /* Center align text */
        gap: 0;

    }

    .about p {
        /* Center align for smaller screens */
        font-size: 15px;
        text-align: justify;
    }

    .social-links {

        display: flex;
        margin: 5px 0;
    }

    .footer {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .profile {
        margin: 1rem;
        flex-direction: column;
        text-align: justify;
        font-size: 15px;
    }


    .profileImg img {
        padding: 0;
        /* margin: 20px 0; */
        width: 50%;
    }

    .about {
        margin: 10px;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    ul {
        padding-left: 10px;
        /* Adjust padding for smaller screens */
    }

    p {
        font-size: 1rem;
    }
}